body {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
}

#schedule {
	margin: 20px auto;
	width: 800px;
}

table {
	border-collapse: collapse;
	width: 100%;
}

th, td {
	padding: 10px;
	border: 1px solid #ddd;
	text-align: left;
}

th {
	background-color: #f2f2f2;
}

form {
	margin: 20px auto;
	width: 800px;
	text-align: center;
}

label {
	display: inline-block;
	margin-right: 10px;
}

input[type="time"], input[type="text"], select {
	padding: 5px;
	border-radius: 5px;
	border: 1px solid #ccc;
	margin-right: 10px;
}

input[type="submit"] {
	background-color: #4CAF50;
	color: #fff;
	padding: 5px 10px;
	border-radius: 5px;
	border: none;
	cursor: pointer;
}

input[type="submit"]:hover {
	background-color: #3e8e41;
}
