<!DOCTYPE html>
<html lang="en">
<head>
    <title>Inchecken bevestiging</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h1>Je bent ingecheckt voor vandaag!</h1>
        <p>Bedankt voor het inchecken. Je bent nu aangemeld voor de bijeenkomst van vandaag.</p>
        <a href="{{ url_for('rooster_student') }}" class="btn btn-primary">Terug naar Roosteroverzicht</a>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
