<!DOCTYPE html>
<html>
<head>
	<title>Hogeschool Rotterdam Dashboard</title>
	<link rel="stylesheet" type="text/css" href="../static/img/stylie.css">
</head>
<body>
	<header>
		<h1>Hogeschool Rotterdam Dashboard</h1>
		<nav>
			<ul>
				<li><a href="#">Rooster</a></li>
				<li><a href="#">Studievoortgang</a></li>
				<li><a href="#">Contact</a></li>
			</ul>
		</nav>
	</header>
	<main>
		<section>
			<h2>Rooster</h2>
			<!-- Rooster informatie hier -->
		</section>
		<section>
			<h2>Studievoortgang</h2>
			<!-- Studievoortgang informatie hier -->
		</section>
		<section>
			<h2>Contact</h2>
			<!-- Contact informatie hier -->
		</section>
	</main>
</body>
</html>
