<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <title>Hogeschool Rotterdam - Login</title></head>
<body>
<form method="post">
    <h1>Hogeschool Rotterdam - Login</h1>
    <label for="username">Student email:</label>
    <input type="text" name="studentmail" placeholder="Vul uw student email in" required>
    <label for="password">Wachtwoord:</label>
    <input type="password" name="password" placeholder="Vul uw wachtwoord in" required>
    <input type="submit" value="Inloggen">
</form>