<!DOCTYPE html>
<html>
<head>
    <title>Lessen</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js" integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N" crossorigin="anonymous"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>
<body>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ url_for('rooster_student') }}">Roosteroverzicht van {{ name }}</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('logout') }}">Log uit</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
	<div class="container">
		<table class="table table-striped" id="student-table">
			<thead>
				<tr>
					<th scope="col">Meeting</th>
                    <th scope="col">Vak</th>
					<th scope="col">Datum</th>
					<th scope="col">Begin tijd</th>
					<th scope="col">Eind tijd</th>
					<th scope="col">Docent</th>
				</tr>
			</thead>
			<tbody id="lessons-list">
            </tbody>
		</table>
	</div>

</div>
    <script>
        //  Function to get lessons from API function
        function getLessons() {
            $.ajax({
                url: '/api/lessons',
                type: 'GET',
                dataType: 'json',
                success: function(data) {
                    // List of lessons
                    var lessons = data.lessons;
                    for (var i = 0; i < lessons.length; i++) {
                        var lesson = lessons[i];
                        $('#lessons-list').append('<tr><td>' + lesson.title + '</td><td>' + lesson.subjectname + '</td><td>' + lesson.datemeeting + '</td><td>' + lesson.start_time + '</td><td>' + lesson.end_time + '</td><td>' + lesson.teachername + '</td><td><a href="/check-in?meetingid=' + lesson.id + '">Inchecken</a></td></tr>');                    }
                }
            });
        }

        // Function to load lessons when page is loading
        $(document).ready(function() {
            getLessons();
        });
    </script>
</body>
</html>